@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand {
    font-family: "Quicksand", serif;
    font-style: normal;
}

.raleway {
    font-family: "Raleway", serif;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles */
.secondary_color {
    color: #202020;
}

.p_color {
    color: #808080;
}

/* style header */
header {
    padding: 0 140px;
}

/* navbar styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.school_logo {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 5px;
}

.nav_links {
    display: flex;
    gap: 40px;
}

.nav_item {
    list-style: none;
}

.nav_item a {
    text-decoration: none;
    font-size: 1.25rem;
}

.item1 {
    color: #FEA301;
}

.item2 {
    color: #01ACFD;
}

.item3 {
    color: #05D4DF;
}

.item4 {
    color: #5D58EF;
}

.btn_primary {
    padding: 10px 60px;
    background: #FEA301;
    border: none;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 12px;
    cursor: pointer;
}

.menu_btn {
    display: none;
}

/* banner section styles */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;

}

.banner_content {
    margin: 140px 0;
}

.banner_title {
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 60px;
}

.banner_subtitle {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 24px 0;
}

.banner_btn {
    padding: 10px 47px;
    color: #FFFFFF;
    background-color: #000000;
    font-size: 1.25rem;
    font-weight: 500;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.marquee_text {
    margin-top: 30px;
    border: 1px solid rgb(231, 219, 219);
    border-radius: 12px;
}

marquee {
    font-size: 1.5rem;
    padding: 10px 0;
    align-items: center;
    font-weight: 500;
    color: #01ACFD;
}

/* Standard Curriculum section style */
.curriculum {
    background-image: url("images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 60px 140px;
    margin-top: 80px;
}

.curriculum_title {
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
}

.curriculum_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
    margin: 80px 0;
}

.card_title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 32px;
}

.card {
    border-radius: 12px;
    text-align: center;
    padding: 20px;
}

.card1 {
    background: linear-gradient(to bottom, rgb(253, 196, 253, .7), white);
    border: 1px solid rgb(252, 239, 252);
}

.card2 {
    background: linear-gradient(to bottom, rgba(255, 244, 220, 1.00), white);
    border: 1px solid rgba(255, 244, 220);
}

.card3 {
    background: linear-gradient(to bottom, rgba(238, 225, 255, 1.00), white);
    border: 1px solid rgb(235, 233, 250);
}

.education_info {
    padding: 33px 0;
    font-family: 1rem;
    font-weight: 500;
}

.detail {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 58px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.detail_link1 {
    color: #fb56d2;
}

.detail_link2 {
    color: #54cf5e;
}

.detail_link3 {
    color: #6b5dd7;
}

.arrow_btn {
    text-align: center;
}

.arrow_btn1 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FEA301;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    margin: 0 5px;
}

/* our stories section styles */
.stories {
    background: linear-gradient(to top, rgba(232, 245, 81, 0.5), transparent), url("images/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px 140px;
}

.stories_title {
    text-align: center;
    font-size: 2.8rem;
    font-weight: bold;
    margin: 60px 0 60px;
}

.stories_container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.stories_card {
    background-color: #FFFFFF;
    border-radius: 12px;
    width: 45%;
}

.story_btnn,
.box_button {
    width: 100%;
    margin-top: -24px;
    padding-left: 35px;

}

.story_btn {
    padding: 15px 25px;
    background-color: #05D4DF;
    color: #FFFFFF;
    border: none;
    border-radius: 30px;
}

.stories_card_title {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 35px 0 50px 0;
    padding-left: 35px;
}

.stories_content {
    padding-left: 35px;
    line-height: 28px;
}

.stories_box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 55%;

}

.box_title {
    font-size: .9rem;
    font-weight: 600;
    line-height: 28px;
    padding-left: 35px;
    padding-bottom: 10px;
    margin-top: 20px;
}

.stories_box .box {
    background-color: #FFFFFF;
    border-radius: 12px;
}

.box img {
    border-radius: 12px 12px 0 0;
    width: 100%;
}

.stories_card img {
    border-radius: 12px 12px 0 0;
    width: 100%;
}

.box_btn {
    padding: 10px 18px;
    color: #FFFFFF;
    background-color: #27f738;
    border: none;
    border-radius: 30px;

}

.box_btn_color {
    padding: 10px 18px;
    color: #FFFFFF;
    background-color: #5D58EF;
    border: none;
    border-radius: 30px;
}

.view_btn {
    text-align: center;
}

.view_btn1 {
    padding: 10px 60px;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 12px;
    margin: 45px 0;
    font-size: 1.25rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

/* footer styles */
footer {
    background-color: #04c6f2;
    padding: 80px 140px;
}

.footer_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.footer_detail {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 35px;
}

.kids_education {
    font-size: 1.8rem;
    margin-left: 5px;
    color: #FFFFFF;
    font-weight: bold;
}

.footer_content {
    font-size: 1rem;
    color: #FFFFFF;
    line-height: 28px;
}

.about_school,
.keep_intouch {
    margin: 0 auto;
}

.about_title {
    font-size: 1.4rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.link_item {
    list-style: none;
    padding: 10px 0;
}

.link_item a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
}

.keep_intouch img {
    cursor: pointer;
}

/* Responsive media query */
@media screen and (max-width: 576px) {
    header {
        padding: 0;
    }
    .school_logo{
        display: none;
    }
    .banner_img{
        margin-top: 30px;
    }

    .nav_links,
    .btn {
        display: none;
    }

    .menu_btn {
        display: block;
        font-size: 30px;
    }

    nav {
        justify-content: space-between;
        padding-top: 10px;
        border: 1px solid #FEA301;
        padding: 10px;

    }

    .banner {
        flex-direction: column-reverse;
    }

    .banner_content {
        text-align: center;
        margin: 40px 0 60px;
        padding: 0 15px;
    }

    .banner_img {
        width: 100%;
        padding: 0 10px;
    }

    .banner_img img {
        width: 100%;
    }

    .marquee_text {
        display: none;
    }

    .curriculum {
        padding: 0px 10px;
        margin-top: 0;
    }

    .curriculum_title, .stories_title {
        font-size: 2.2rem;
    }

    .curriculum_cards {
        grid-template-columns: 1fr;
        margin: 40px 0;
    }

    .arrow_btn {
        display: none;
    }

    .stories_card {
        display: none;
    }

    .stories {
        padding: 0px 10px;
    }

    .stories_box {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        width: 100%;
    }

    .box_title {
        line-height: 18px;
        padding-left: 20px;

    }
    .box_btn {
        padding: 7px 12px;
    }
   .box_button {
    margin-top: -20px;
    padding-left: 20px;

    }

    footer {
        background-color: #04c6f2;
        padding: 80px 10px;
    }

    .footer_container {
        grid-template-columns: 1fr;
    }

    .about_school,
    .keep_intouch {
        margin: 0;
    }

}